<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <lable for="male">
    <input type="radio" id="male" name="radio" v-model="sex" value="男">男
  </lable>
  <lable for="males">
    <input type="radio" id="males" name="radio" v-model="sex" value="女">女
  </lable>
  <h2>您的选择是：{{sex}}</h2>
</div>
<script src="../js/vue.js"></script>
<script type="text/javascript">
  const app = new Vue({
    el: '#app',
    data: {
      message: 'HELLO',
      sex: ''
    }
  })
</script>
</body>
</html>